dialog#automaton-modal > div {
	width: 800px;
	height: 100%;

	> div {
		flex-grow: 1;
		display: flex;

		> nav {
			background-color: hsl(var(--shadow-color-hsl) / calc(var(--shadow-opacity)));
			box-shadow: var(--small-inset-shadow);
			overflow: hidden;
			flex-shrink: 0;

			> ul {
				margin: 20px 0 20px 10px;
				list-style: none;

				> li {
					width: 150px;
					height: 40px;
					padding: 10px;

					&:has(input:checked) {
						background-color: hsl(var(--background-color-hsl));
						border-radius: 10px 0 0 10px;
					}
					&:not(:has(input:checked))::before {
						box-shadow: none;
					}
				}
			}
		}
		> div {
			position: relative;
			flex-grow: 1;

			> div {
				position: absolute;
				inset: 0;
				padding: 20px;
				overflow: auto;
			}
			> #states {
				> table {
					width: 100%;

					> thead {
						height: 30px;

						> tr > th {
							font-size: 1.25em;

							&:last-child {
								width: 100%;
								font-size: 1em;
								text-align: left;
								line-height: 0;
							}
						}
					}
					> tbody > tr > td {
						> * {
							height: 40px;
						}
						&:nth-last-child(2) {
							border-right-width: 0;
						}
						&:last-child {
							border-left-width: 0;

							> button {
								aspect-ratio: 1;
								font-size: 1.25em;
							}
						}
					}
				}
				> #new-state {
					margin-top: 10px;
					width: 100%;
					height: 40px;		

					&:hover {
						background-color: hsl(var(--accent-color-hsl));
					}
					&:active {
						background-color: hsl(var(--accent-color-hsl) / 50%);
					}
				}
			}
			> #transitions {
				&:has(thead th + th) > .error {
					display: none;
				}
				> table {
					width: 100%;

					> thead {
						height: 30px;
					}
					> tbody > tr > td > * {
						height: 40px;
					}
				}
			}
			:has(nav > ul > li:nth-child(1) > input:not(:checked)) > & #states {
				display: none;
			}
			:has(nav > ul > li:nth-child(2) > input:not(:checked)) > & #transitions {
				display: none;
			}
		}
	}
}
