dialog {
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	width: 100vw;
	height: 100vh;
	max-width: none;
	max-height: none;
	background-color: hsl(0 0 0 / 40%);
	backdrop-filter: blur(5px);
	border: none;
	opacity: 0;
	z-index: 100;
	transition: opacity var(--transition-fast) var(--transition-zip);

	&[open] {
		opacity: 1;
		scale: 1;
	}
	&:not([open]) {
		pointer-events: none;
	}
	&::backdrop {
		background: none;
	}
	& > div {
		display: flex;
		flex-direction: column;
		max-width: calc(100vw - 50px);
		max-height: calc(100vh - 50px);
		background-color: hsl(var(--background-color-hsl));
		border-radius: 10px;
		overflow: hidden;
		filter: drop-shadow(0 0 50px #0008);
		transition: scale var(--transition-fast) var(--transition-zip);

		:not([open]) > & {
			scale: 0.9;
		}
		& > header {
			position: relative;
			display: flex;
			padding: 0 20px;
			height: 60px;
			align-items: center;
			font-size: 1.25em;
			z-index: 1;

			& > button {
				position: absolute;
				aspect-ratio: 1;
				height: 100%;
				top: 0;
				right: 0;
			}
		}
		& > div {
			overflow: auto;
		}
	}
}

dialog#new-diagram-select > div > div {
	padding: 15px 20px;

	& > div {
		text-align: center;

		& > :first-child {
			font-size: 1.25em;
		}
		& > :last-child {
			color: hsl(var(--text-color-hsl) / 35%);
			font-size: 0.75em;
		}
	}
	& > button {
		display: flex;
		width: 100%;
		height: 50px;

		&:disabled > :first-child > span::after {
			color: hsl(var(--text-color-hsl) / 10%);
		}
		& > div {
			display: flex;
			flex-shrink: 0;
			height: 100%;
			justify-content: center;
			align-items: center;
		}
		& > div:first-child {
			width: 40px;
			justify-content: left;
			font-size: 2em;
			& > span {
				height: 0;
			}
		}
		& > div:last-child {
			flex-direction: column;
			justify-content: space-evenly;
			align-items: start;

			& > span:last-child {
				opacity: 50%;
			}
		}
	}
}
dialog#automaton-modal > div {
	width: 800px;
	height: 100%;

	> div {
		flex-grow: 1;
		display: flex;

		> nav {
			background-color: hsl(var(--shadow-color-hsl) / calc(var(--shadow-opacity)));
			box-shadow: var(--small-inset-shadow);
			overflow: hidden;
			flex-shrink: 0;

			> ul {
				margin: 20px 0 20px 10px;
				list-style: none;

				> li {
					width: 150px;
					height: 40px;
					padding: 10px;

					&:has(input:checked) {
						background-color: hsl(var(--background-color-hsl));
						border-radius: 10px 0 0 10px;
					}
					&:not(:has(input:checked))::before {
						box-shadow: none;
					}
				}
			}
		}
		> div {
			position: relative;
			flex-grow: 1;

			> div {
				position: absolute;
				inset: 0;
				padding: 20px;
				overflow: auto;
			}
			> #states {
				> table {
					width: 100%;

					> thead > tr > th {
						font-size: 1.25em;

						&:last-child {
							width: 100%;
							font-size: 1em;
							text-align: left;
							line-height: 0;
						}
					}
					> tbody > tr > td {
						height: 40px;

						> * {
							display: block;
							height: 100%;
						}
						&:nth-last-child(2) {
							border-right-width: 0;
						}
						&:last-child {
							border-left-width: 0;

							> button {
								aspect-ratio: 1;
								font-size: 1.25em;
							}
						}
					}
				}
				> #new-state {
					margin-top: 10px;
					width: 100%;
					height: 31px;		

					&:hover {
						background-color: hsl(var(--accent-color-hsl));
					}
					&:active {
						background-color: hsl(var(--accent-color-hsl) / 50%);
					}
				}
			}
			> #transitions {
				&:has(thead th + th) > .error {
					display: none;
				}
			}
			:has(nav > ul > li:nth-child(1) > input:not(:checked)) > & #states {
				display: none;
			}
			:has(nav > ul > li:nth-child(2) > input:not(:checked)) > & #transitions {
				display: none;
			}
		}
	}
}
