html, body {
	margin: 0;
	padding: 0;
}
#workspace {
	position: absolute;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: -1;
	cursor: move;
}
#workspace > * {
	position: absolute;
	top: 50%;
	left: 50%;
	translate:
		calc(var(--scale, 1) * calc(var(--px, 0px) + var(--x, 0px)) - 50%)
		calc(var(--scale, 1) * calc(var(--py, 0px) + var(--y, 0px)) - 50%);
	scale: var(--scale, 1);
}
#controls {
	position: absolute;
	z-index: 1;
}
.draggable {
	cursor: grab;
	user-select: none;
}
.draggable:active {
	cursor: grabbing;
}
