html, body {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto Slab', serif;
	color: black;
}
svg {
	stroke: currentColor;
	stroke-width: 5px;
	stroke-linecap: round;
	overflow: visible;
}
#controls {
	position: absolute;
	z-index: 1;
}
