* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background: hsl(var(--background-color-hsl));

	/* Light color scheme values */
	color-scheme: light;
	--background-color-hsl: 0 0 100%;
	--text-color-hsl: 0 0 0;
	--shadow-color-hsl: 0 0 0;
}
html.dark {
	color-scheme: dark;
	--background-color-hsl: 0 0 10%;
	--text-color-hsl: 0 0 100%;
	--shadow-color-hsl: 0 0 100%;
}
body {
	font-family: 'Roboto Slab', serif;
	color: hsl(var(--text-color-hsl));
}
main {
	width: 100vw;
	height: 100vh;
	user-select: none;
}
main > * {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
button {
	display: flex;
	appearance: none;
	border: none;
	justify-content: center;
	align-items: center;
	font: inherit;
	background-color: transparent;
	color: inherit;
	transition:
		all cubic-bezier(0.5, 1, 0, 1.5),
		background-color ease,
		color ease;
	transition-duration: 200ms;
	cursor: pointer;
}
svg {
	fill: none;
	stroke: currentColor;
	stroke-width: 5px;
	stroke-linecap: round;
	overflow: visible;
}
