body > nav {
	display: flex;
	padding: 5px;
	width: 50px;
	justify-content: space-between;
	flex-direction: column;
	flex-shrink: 0;

	> div {
		display: flex;
		flex-direction: column;
		gap: 5px;

		> button, > .button {
			position: relative;
			aspect-ratio: 1;
			font-size: 28px;
			background-color: hsl(var(--background-color-hsl));
		}
	}

	#color-scheme {
		> span {
			position: absolute;
			display: block;
			left: 0;
			right: 0;
		}
		> :first-child {
			visibility: hidden;

			html.dark & {
				visibility: visible;
			}
		}
		> :last-child {
			rotate: 135deg;
			translate: -2px 2px;

			html.dark & {
				visibility: hidden;
			}
		}
	}
}
