body > nav {
	display: flex;
	padding: 5px;
	width: 50px;
	justify-content: space-between;
	flex-direction: column;
	flex-shrink: 0;

	> div {
		display: flex;
		flex-direction: column;
		gap: 5px;

		> button, > .button {
			position: relative;
			aspect-ratio: 1;
			font-family: 'Material Symbols Outlined';
			font-size: 28px;
			font-variation-settings: "FILL" 1;
			background-color: hsl(var(--background-color-2-hsl));
		}
	}

	#color-scheme {
		> :first-child {
			visibility: hidden;

			html.dark & {
				visibility: visible;
			}
		}
		> :last-child {
			position: absolute;
			display: block;
			rotate: 135deg;
			translate: -1px 2px;

			html.dark & {
				visibility: hidden;
			}
		}
	}
}
