@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,700,0..1,0);

#workspace {
	z-index: 2;
	pointer-events: none;
	--margin: 20px;

	> * {
		position: absolute;
		display: flex;
		gap: 5px;
	}
	*:not(.widget)::before,
	*::after {
		font-family: 'Material Symbols Outlined';
	}
	.widget {
		position: relative;
		background-color: hsl(var(--background-color-hsl) / 75%);
		border-radius: 10px;
		pointer-events: all;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border-radius: inherit;
			box-shadow: var(--shadow-large);
			backdrop-filter: blur(8px);
			z-index: -1;
		}
	}
	button {
		&::after {
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 75%;
			transition: inherit;
		}
		&:hover {
			&::after {
				opacity: 100%;
				scale: 1.1;
			}
			&:active::after {
				scale: 1;
			}
		}
	}
	#zoom {
		margin: 0 var(--margin) var(--margin) 0;
		bottom: 0;
		right: 0;
		flex-direction: column;

		> button {
			aspect-ratio: 1;
			width: 50px;
		}
		> #zoom-label {
			text-align: center;
			opacity: 50%;
		}
		> #zoom-in::after {
			content: "\e8ff";
			font-size: 36px;
		}
		> #zoom-out::after {
			content: "\e900";
			font-size: 36px;
		}
	}
}
