@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,700,0..1,0);

.dfa::before {
	content: "\ef4a";
	color: #08f;
}
.nfa::before {
	content: "\e86b";
	color: #0d8;
}
.pda::before {
	content: "\eb36";
	color: #f0f;
}
.tm::before {
	content: "\eb50";
	color: #f80;
}

#workspace {
	z-index: 2;
	pointer-events: none;
	--gap: 5px;
	--margin: 20px;
	--shadow-color: 0 20 100;
	--shadow:
		0px 0.6px 2.2px rgb(var(--shadow-color) / 0.028),
		0px 1.3px 5.3px rgb(var(--shadow-color) / 0.04),
		0px 2.5px 10px rgb(var(--shadow-color) / 0.05),
		0px 4.5px 17.9px rgb(var(--shadow-color) / 0.06),
		0px 8.4px 33.4px rgb(var(--shadow-color) / 0.072),
		0px 20px 80px rgb(var(--shadow-color) / 0.1);
		/* --background-color-hsl: var(--accent-color-hs) 20%; */

	> * {
		position: absolute;
		display: flex;
		gap: var(--gap);
	}
	*:not(.widget)::before,
	*::after {
		font-family: 'Material Symbols Outlined';
	}
	.widget {
		position: relative;
		background-color: hsl(var(--background-color-hsl) / 75%);
		border-radius: 10px;
		pointer-events: all;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border-radius: inherit;
			box-shadow: var(--shadow);
			backdrop-filter: blur(8px);
			z-index: -1;
		}
	}
	input[type=radio]:checked {
		background-color: hsl(var(--accent-color-hsl) / 75%);
	}
	button::after,
	input[type=radio]::after {
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 75%;
		transition: inherit;
	}
	button:hover,
	input[type=radio]:hover,
	input[type=radio]:checked {
		&::after {
			opacity: 100%;
			scale: 1.1;
		}
		&:active::after {
			scale: 1;
		}
	}
	> #diagram-select {
		margin: var(--margin) auto 0;
		width: min-content;
		left: 0;
		right: 0;
		--selector-width: 250px;
		--selector-height: 50px;

		> #diagram-selector-container {
			width: var(--selector-width);
			height: var(--selector-height);

			> #diagram-selector {
				display: block;
				width: 100%;
				height: 100%;
				padding: 0 50px 0 47px;
				font-size: 20px;
				text-align: left;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;

				&::before {
					position: absolute;
					display: flex;
					top: 0;
					bottom: 0;
					left: 10px;
					justify-content: center;
					align-items: center;
					font-size: 30px;
				}

				&::after {
					content: "\e5cf";
					position: absolute;
					top: 0;
					bottom: 0;
					right: 10px;
					width: 30px;
				}
				&.active::after {
					rotate: 180deg;
				}
			}
		}
		> #export {
			aspect-ratio: 1;
			height: var(--selector-height);

			&::after {
				content: "\f090";
				font-size: 24px;
			}
		}
		> #diagram-list-container {
			position: absolute;
			top: calc(var(--selector-height) + var(--gap));
			width: var(--selector-width);
			
			> div {
				border-radius: inherit;
				overflow: hidden;

				> ul {
					max-height: 0;
					height: calc(100vh - 2 * var(--margin) - var(--selector-height) - var(--gap) - 120px);
					padding: 0 5px;
					overflow-y: scroll;
					transition: max-height var(--transition-fast) var(--transition-smooth);

					> li {
						position: relative;
						display: flex;
						height: 40px;
						border-radius: 5px;

						&:hover {
							background-color: #0001;
						
							&::after,
							+ li::after {
								background-color: transparent;
							}
							> .diagram-rename,
							> .diagram-delete {
								display: block;
							}
						}
						&:first-child { margin-top: 5px; }
						&:last-child { margin-bottom: 5px; }
						+ li {
							margin-top: 1px;

							&::after {
								content: "";
								position: absolute;
								margin: 0 5px;
								left: 0;
								right: 0;
								top: -1px;
								height: 1px;
								background-color: #0001;
							}
						}
						> button {
							display: block;
							text-align: left;
							width: 100%;
							height: 100%;
						}
						> .diagram-option {
							padding-left: 40px;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							
							&::before {
								position: absolute;
								top: 0;
								left: 10px;
								font-size: 20px;
								line-height: 40px;
							}
						}
						> .diagram-rename,
						> .diagram-delete {
							display: none;
							flex-shrink: 0;
							width: 32px;
							font-size: 20px;
						}
						> .diagram-rename::after {
							content: "\e745";
						}
						> .diagram-delete::after {
							content: "\e872";
						}
					}
				}
			}
		}
	}
	#toolbox {
		margin-bottom: calc(var(--margin) + 15px);
		bottom: 0;
		width: 100%;
		height: 70px;
		justify-content: center;
		align-items: center;

		> input {
			appearance: none;
			margin: 0;
			aspect-ratio: 1;
			height: 60px;
			pointer-events: all;

			&:checked {
				height: 100%;

				&::after { color: white; }
			}
		}
		> #select::after {
			content: "\f82f";
			font-variation-settings: "FILL" 1;
			font-size: 28px;
		}
		> #pan::after {
			content: "\e925";
			font-variation-settings: "FILL" 1;
			font-size: 28px;
		}
		> #state::after {
			content: "\ef4a";
			font-size: 42px;
		}
		> #transition::after {
			content: "\f6f4";
			rotate: 90deg;
			font-size: 44px;
		}
	}
	#zoom {
		margin: 0 var(--margin) var(--margin) 0;
		bottom: 0;
		right: 0;
		flex-direction: column;

		> button {
			aspect-ratio: 1;
			width: 50px;
		}
		> span {
			text-align: center;
			opacity: 50%;
		}
		> #zoom-in::after {
			content: "\e8ff";
			font-size: 36px;
		}
		> #zoom-out::after {
			content: "\e900";
			font-size: 36px;
		}
	}
}
