#diagram {
	font-size: 32px;
	z-index: 1;
	cursor: move;

	> * {
		position: absolute;
		top: 50%;
		left: 50%;
		translate:
			calc(var(--scale, 1) * calc(var(--px, 0px) + var(--x, 0px)) - 50%)
			calc(var(--scale, 1) * calc(var(--py, 0px) + var(--y, 0px)) - 50%);
		scale: var(--scale, 1);
	}
	> span {
		text-shadow:
			-1px -1px 0px hsl(var(--background-color-hsl)),
			-1px 1px 0px hsl(var(--background-color-hsl)),
			1px -1px 0px hsl(var(--background-color-hsl)),
			1px 1px 0px hsl(var(--background-color-hsl));
		z-index: 2;
	}
	> svg {
		fill: none;
		stroke: currentColor;
		stroke-width: 5px;
		stroke-linecap: round;
	}
	> .anchor {
		aspect-ratio: 1;
		width: 30px;
		border-radius: 100%;
		background-color: #f008;
		z-index: 3;

		&:hover { background-color: gold; }
		&:active { background-color: cyan; }
	}
	> .draggable {
		cursor: grab;
		user-select: none;

		&:active {
			cursor: grabbing;
		}
	}
	> .state {
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		aspect-ratio: 1;
		width: 100px;
		background-color: hsl(var(--background-color-hsl));
		border: 5px solid currentColor;
		border-radius: 100%;
		z-index: 1;

		&.final::after {
			position: absolute;
			display: block;
			content: "";
			margin: 5px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 100%;
			border: 5px solid currentColor;
		}
		> * { position: absolute; }
		> span {
			font-size: 50px;
			line-height: 90px;
			white-space: nowrap;
		}
	}
}
