#workspace {
	z-index: 2;
	pointer-events: none;
	--margin: 20px;

	> * {
		position: absolute;
		display: flex;
		gap: 5px;
	}
	button, .button {
		aspect-ratio: 1;
		height: 50px;
	}
	.widget {
		position: relative;
		background-color: hsl(var(--background-color-hsl) / 75%);
		border-radius: 10px;
		backdrop-filter: blur(8px);
		pointer-events: all;
	}
	#edit-automaton {
		top: var(--margin);
		left: var(--margin);
		font-size: 24px;
	}
	> #open-diagram-info {
		position: absolute;
		top: var(--margin);
		right: var(--margin);
		padding: 0;
		font-size: 24px;
		transition-property: right, background-color;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--transition-smooth);

		&:hover {
			font-size: 27px;
		}
		&:has(> input:checked) {
			right: -10px;
			background-color: hsl(var(--background-color-hsl));
		}
	}
	#zoom {
		margin: 0 var(--margin) var(--margin) 0;
		bottom: 0;
		right: 0;
		flex-direction: column;

		> button {
			font-size: 32px;

			&:not(:active):hover {
				font-size: 36px;
			}
		}
		> span {
			text-align: center;
			opacity: 50%;
		}
	}
}
